
html {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Castoro';
    background-image: linear-gradient(to right, white , rgb(151, 151, 151));
    opacity: 1.0;
    -webkit-transition: background 1.5s linear;
    -moz-transition: background 1.5s linear;
    -o-transition: background 1.5s linear;
    -ms-transition: background 1.5s linear;
    transition: background 1.5s linear;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: 'Castoro';    
}

.navbar-nav li {
    padding: 0 5px;
    margin-right: 40px;

}

.navbar-nav li a{
    font-size: 20px;
    font-weight: bolder;
    color: black;

}

.brand img {
    padding: 0;
    max-width: 20%;
    margin-left: 50px;
    margin-top: 10px;
}

.navbar-toggler {
    outline: none !important;
}

.banner {
    font-family: 'Castoro';
    padding-top: 5%;
    padding-left: 50px;
    padding-bottom: 50px;
}
.title {    
    font-size: 60px;
    font-weight: bolder;
    margin-top: 50px;
}

.banner-txt {
    font-size: 25px;
    margin-top: 5px;

}

.saiba-mais {
    color: black;
    padding: 5px 20px;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.saiba-mais:hover {
    color: white;
    background-color: black;
    
}

.dashboard {
    font-family: 'Castoro';    
    margin-top: 190px;
    background-size: 95%;
    background-position: center;
    padding-left: 50px;
    height: 500px;
}

.dash {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;

}

.dash-txt {
    font-size: 25px;
    margin-top: 5px;
}

.dashboard-img {
    width: 50px;
    margin-top: 20px;
}

.registre {
    padding-top: 150px;
}

.acompanhe {
    padding-top: 150px;
}

.evolua {
    padding-top: 150px;
}

.registre-bt {
    color: black;
    background: transparent;
    padding: 5px 20px;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.registre-bt:hover {
    color: white;
    background-color: black;
    
}

.acompanhe-bt {
    color: black;
    background: transparent;
    padding: 5px 20px;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.acompanhe-bt:hover {
    color: white;
    background-color: black;
    
}

.evolua-bt {
    color: black;
    background: transparent;
    padding: 5px 20px;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.evolua-bt:hover {
    color: white;
    background-color: black;
    
}



/*------------------------------------------------*/

.sobre {
    font-family: 'Castoro';    
    margin-top: 370px;
    background-size: 95%;
    background-position: center;
    text-align: left;
    margin-bottom: 150px;
}

.sobrenos {
    font-size: 60px;
    font-weight: bolder;

}

.sobre-txt {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 100px;
}
/*--------------------------------------------------*/

.logo-img {
    width: 100px;
    padding-bottom: 15px;

}
